@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$color-first: #173a56;
$color-second: #22343d;
$color-third: #bcd0e5;
$color-fourth: #22343d;
$color-fifth: #22343d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 17px;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  header {
    padding: 19px 0;
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        gap: 16px;
        span {
          color: $color-first;
          font-size: 30px;
          font-weight: 700;
          line-height: 28px;
        }
      }
      &-items {
        display: flex;
        align-items: center;
        gap: 24px;
        a {
          color: $color-second;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
        }
        button {
          border: none;
          font-size: 16px;
          font-weight: 600;
          padding: 10px 24px;
          border-radius: 4px;
          background: #02897a;
          cursor: pointer;
          transition: all 0.3s linear;
          color: #fff;
          &:hover {
            background: #fff;
            color: $color-first;
            border-radius: 4px;
            border: 1px solid #bcd0e5;
          }
          &:last-child {
            background: white;
            border: none;
            padding: 0;
          }
        }
      }
    }
    .header-contents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .h-contents-img {
        padding-top: 45px;
        padding-bottom: 115px;
      }
      .h-contents-text {
        h1 {
          width: 518px;
          color: $color-fifth;
          font-size: 40px;
          font-weight: 700;
          line-height: 60px;
        }
        p {
          width: 458px;
          color: $color-fourth;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          padding: 18px 0 45px 0;
        }
        .submit1 {
          .link1 {
            display: flex;
            gap: 9px;
            align-items: center;
            a {
              color: #02897a !important;
              font-size: 16px;
              font-weight: 600;
              line-height: normal;
              text-decoration: underline !important;
            }
          }
          display: flex;
          gap: 30.5px;
          align-items: center;
          button {
            border: none;
            font-size: 16px;
            font-weight: 600;
            padding: 15px 41px;
            border-radius: 4px;
            background: #02897a;
            cursor: pointer;
            color: #fff;
            transition: all 0.3s linear;
            &:hover {
              background: #fff;
              color: $color-first;
              border-radius: 4px;
              border: 1px solid #bcd0e5;
            }
            display: flex;
            gap: 9px;
            align-items: center;
          }
        }
      }
    }
  }
}

main {
  section {
    .hero-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 65px;
    }
    .hero-cards {
      background-image: url(../images/Bg.png);
      right: 0;
      left: 0;
      bottom: -180px;
      display: flex;
      justify-content: space-between;
      gap: 46px;
      .hero-card img {
        border-radius: 19px;
        background: #02897a;
        padding: 16px;
        &:first-child {
          padding: 16px 19px;
        }
        &:nth-child(2) {
          padding: 16px 15px;
        }
        &:last-child {
          padding: 16px 17px;
        }
      }
      h4 {
        padding: 30px 0 13px;
        color: #22343d;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        color: #22343d;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        width: 240px;
      }
    }
    button {
      border: none;
      font-size: 16px;
      font-weight: 600;
      padding: 15px 33px;
      border-radius: 4px;
      background: #02897a;
      cursor: pointer;
      color: #fff;
      margin-bottom: 90px;
      transition: all 0.3s linear;
      &:hover {
        background: #fff;
        color: $color-first;
        border-radius: 4px;
        border: 1px solid #bcd0e5;
      }
    }
    h2 {
      color: #22343d;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 500px;
    }
  }
  .management-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .m-texts h3 {
      padding: 8px 0 23px;
      color: #22343d;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .m-texts p {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 486px;
    }
    .m-texts h4 {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 30px 0 12px;
    }
  }
  .support-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    .s-texts h3 {
      padding: 8px 0 23px;
      color: #22343d;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
    }
    .s-texts h4 {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
    }
    .svg-par {
      display: flex;
      gap: 30px;
      padding-top: 30px;
      align-items: center;
    }
    .s-texts p {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      width: 486px;
    }
    .svg-par p {
      width: 385px !important;
    }
  }
  .collaborative-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0 150px;
    .c-texts h3 {
      padding: 8px 0 23px;
      color: #22343d;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .c-texts p {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 486px;
    }
    .c-texts h4 {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 30px 0 12px;
    }
  }
  .process-contents {
    .p-header {
      background: linear-gradient(
        180deg,
        #ededed 0.35%,
        rgba(255, 255, 255, 0) 99.63%
      );
      display: block;
      margin: 0 auto;
      text-align: center;
      & h3 {
        padding-top: 55px;
        color: #22343d;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      & p {
        color: #22343d;
        width: 542px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin: 0 auto;
      }
    }
    .cans {
      display: flex;
      gap: 190px;
      justify-content: center;
      padding-top: 32px;
      .can {
        display: flex;
        gap: 16px;
        align-items: center;
      }
    }
    button {
      border: none;
      font-size: 16px;
      font-weight: 600;
      padding: 15px 31px;
      border-radius: 4px;
      background: #02897a;
      cursor: pointer;
      display: block;
      margin: 50px auto 150px;
      transition: all 0.3s linear;
      color: #fff;
      &:hover {
        background: #fff;
        color: $color-first;
        border-radius: 4px;
        border: 1px solid #bcd0e5;
      }
    }
  }
  .strategy-contents {
    p {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      padding: 12px 0 32px;
    }
    h3 {
      color: #22343d;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
    }
    .sc-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sc-card p {
        color: #22343d;
        font-size: 16px;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 26px;
        padding: 24px 0 12px 24px;
      }
      .sc-card span {
        color: #22343d;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
      }
      .sc-card h4 {
        padding-left: 24px;
        color: #22343d;
        font-style: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
      }
      .sc-card:hover h4 {
        color: #02897a;
      }
    }
    .svg1 {
      display: flex;
      justify-content: center;
      padding: 64px 0 150px;
    }
  }
  .price-contents {
    h2 {
      color: #22343d;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      justify-content: center;
    }
    #par1 {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      justify-content: center;
      padding: 12px 0 50px;
    }
    .sp-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 150px;
      .sp-card {
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
        width: 322px;
        padding: 24px 0 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.4s linear;
        &:hover {
          background: #02897a;
          p,
          h3,
          h4,
          h5 {
            color: #fff !important;
          }
          button {
            background: #fff;
            color: #02897a;
          }
        }
        .h5 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px;
          padding: 40px 0;
        }
        h3 {
          color: #22343d;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        h4 {
          color: #22343d;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        h5 {
          color: #22343d;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        button {
          border: none;
          font-size: 16px;
          font-weight: 600;
          padding: 11px 20px;
          border-radius: 4px;
          background: #02897a;
          cursor: pointer;
          display: block;
          transition: all 0.3s linear;
          color: #fff;
          &:hover {
            background: #fff;
            color: $color-first;
            border-radius: 4px;
            border: 1px solid #bcd0e5;
          }
        }
        .pars {
          display: flex;
          align-items: center;
          gap: 8px;
          .par1 {
            color: #02897a;
            font-size: 76px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .par2-3 {
            display: flex;
            flex-direction: column;
            gap: 4px;
          }
          .par2 {
            color: #02897a;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .par3 {
            color: #afafaf;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
  .rate-contents {
    h3 {
      color: #22343d;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: 57px;
      letter-spacing: 0.2px;
      display: flex;
      justify-content: center;
    }
    #rate {
      color: #22343d;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      display: flex;
      letter-spacing: 0.2px;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      width: 537px;
    }
    .rate-card p {
      color: #737373;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.2px;
      width: 275px;
      padding: 16px 0;
    }
    .p-img {
      display: flex;
      gap: 14px;
      align-items: center;
    }
  }
}

footer {
}
